*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
*{
  background-color: black;
}
*/